.navbarContainer{
    height: 25%;
    width: 100%;
    display: flex;
align-items: center;

}

.leftsideNavbar{
    height: 100%;
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logoStyling{
height: 70%;
width: 80px;
}
.logoName{
    height: 80%;
    display: flex;
    align-items: center;
margin-left: -10px;
color: #fff;
font-size: 1.1rem;
font-family: 'Merienda One', cursive;

   
}
.rightsideNavbar{
    height: 100%;
flex: 0.7;
display: flex;
}
.left{
    height: 100%;
flex: 0.4;
display: flex;

}
li{
    font-family: 'Merienda One', cursive;
    font-size: 1.1rem;
color: #fff;
}
.right{
    height: 100%;
flex: 0.3;
display: flex;
align-items: center;
justify-content: flex-end;
}
ul{
list-style: none;
display: flex;
flex: 1;
align-items: center;
justify-content: space-evenly;

}
.login{
color: #fff;
font-family: 'Merienda One', cursive;
font-size: 1.1rem;
}
.signup{
padding: 8px 20px 8px 20px;
border-radius: 5px;
border: none;
background-color: #134A47;
color: #fff;
font-family: 'Merienda One', cursive;
font-size: 1.1rem;
}
.endContainer{
    margin-right: 20px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex: 0.5;
}

