.cadreContainer{
    text-decoration: none;

    height: 350px;
    width: 270px;
    background-image: url("../assets/licensed-image.jpeg");
    background-size: cover;
    border-radius: 1px;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    z-index: 999;
}
.place{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Merienda One', cursive;
margin-top: 20px;
font-weight: 800;
letter-spacing: 2px;
}
.placa{
    text-align: center;
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}