.FooterContainer{
    height: 50vh;
    width: 100%;
    background-image: url("../assets//milo.jpg");
    background-size: cover;
    object-fit: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.onelogo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
}
.editlogo{
    height: 200px;
    width: 200px;
}
.services{
    height: 100%;
    width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

}
.titleservice{
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(236, 221, 221);
    color: rgb(236, 221, 221);
    font-family: 'Merienda One', cursive;
}
.unservice{
    color: rgb(244, 233, 233);
    font-family: 'Merienda One', cursive;
    margin-bottom: 8px;

}
.un{
    display: flex;
    align-items: center;
    color: rgb(244, 233, 233) ;
    margin-bottom: 12px;
}
.sm{
    margin-left: -30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(244, 233, 233);
}
.servicess{
    margin-top: 70px;
    height: 70%;
    width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;

}
.namelogo{
    height: 70%;
    width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.douwerni{
    color:rgb(244, 233, 233) ;
    font-family: 'Merienda One', cursive;

    margin-top: -40px;
   

}
a{
    text-decoration: none;
    color:rgb(244, 233, 233) ;
}